/* 

---------TYPOGRAPHY---------

FONT SIZES

12px/16px/20px/24px/32px/40px/48px/62px

FONT WEIGHTS
400 /700

LINE HEIGHTS

1.2 / 1.5

LETTER SPACING
0/-2px
--------- COLORS ---------



*/

h1 {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -2px;
  font-size: 62px;
  font-family: "Poppins", sans-serif;
  /* color: #212529; */
  color: #0a3323;
}
h2 {
  font-weight: 700;
  text-align: center;
  letter-spacing: -2px;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  color: #212529;
}
h3 {
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #212529;
}
h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  font-family: "Poppins", sans-serif;
  color: #212529;
}
h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}
p,
.small-text {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #495057;
}
a,
.small-text {
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
  font-size: 16;
  color: #495057;
}
ul {
  list-style: none;
}
.feature-img {
  width: 20rem;
}

.pop-text {
  display: inline-block;
  color: black;
  color: white;
  background-color: #9c36b5;
  /* background-color: #495057; */
  padding: 1.3rem;
  border-radius: 10px;
}

.small-text {
  text-align: center;
  font-size: 12px;
}

.btn {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.btn-primary {
  color: #339af0;
}
.btn-primary:link,
.btn-primary:visited {
  color: #9775fa;
}

.btn-primary:hover,
.btn-primary:active {
  color: #1c7ed6;
}

.btn-secondary:link,
.btn-secondary:visited {
  color: #9775fa;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: #7048e8;
}
.chat-icon {
  display: block;
  margin-left: 10rem;
  width: 2rem;
}
.social-icons {
  width: 2rem;
}
