img {
  width: 100px;
  background-color: greenyellow;
  border-radius: 20%;
}
.container {
  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  background-color: plum;
}
a {
  background-color: yellow;
}
