a:link {
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: green;
}
a:active {
  color: aqua;
}
body {
  background-color: black;
  color: aliceblue;
}
ul {
  list-style: none;
}
/* li:first-child {
  background-color: pink;
  color: blueviolet;
  text-align: center;
}
li:last-child {
  background-color: lavender;
  color: #000;
  text-align: center;

  margin: 10px;
  padding: 0.5rem;
} */

li:nth-child(2n + 1) {
  background-color: blueviolet;
  text-align: center;
}
