/* h2 {
  text-align: left;
}
h3 {
  text-align: right;
}
h4 {
  text-align: center;
}

p {
  text-align: justify;
}
a {
  text-align: justify;
} */

/* h2 {
  line-height: 3;
}
p {
  line-height: 2;
} */

h2 {
  /* squeeze the letters towards each other wiht negative sign */
  letter-spacing: -2px;
}
